/* FoodDetails.module.css */
.foodDetailsContainer {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 40vw;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.foodDetailsContainer:hover {
  transform: scale(1.02);
}

.detailsName {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.detailsImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.someDetailsContiner {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}

li {
  text-align: left;
  font-size: 1rem;
  color: #444;
  margin: 5px 0;
}
.ingredientsContainer,
.instructionContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.ingredientsContainer:hover,
.instructionContainer:hover {
  transform: scale(1.02);
}
.instructionTitle,
.ingredientsTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

.instructionLine,
.ingredientsLine {
  font-size: 16px;
  line-height: 1.6;
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  border-left: 4px solid #007bff;
  list-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.ingredientsLine img {
  border-radius: 5px;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .foodDetailsContainer {
    padding: 0;
    margin: 0;
    width: 65vw;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
  }
}
